@{
    ViewData["Title"] = "Showing Picture";
}
<h2>@ViewData["Title"]</h2>

<p>Show a picture here!</p>
<img src="/images/beach.jpg" alt="Beach Picture" />
<img src="/images/beach2.jpg" alt="Beach Picture" />
<img src="/images/beach3.jpg" alt="Beach Picture" />
<img src="/images/beach4.jpg" alt="Beach Picture" />
<img src="/images/beach5.jpg" alt="Beach Picture" />
<!-- <img src="/images/lake.jpg" alt="Lake Picture" /> -->
<!-- <img src="https://picsum.photos/400/300/?random" alt="Random Picture" /> -->




