@{
    ViewData["Title"] = "Showing Picture";
}
<h2>@ViewData["Title"]</h2>

<p>Show a picture here!</p>
<img src="/images/beach.jpg" alt="Beach Picture" />
<!-- <img src="/images/lake.jpg" alt="Lake Picture" /> -->
